/*  用于修改element组件样式重写 */ 

/* Tooltip */ 
.cupshe-tooltip {
    padding: 6px !important;
    border-radius: 0px !important;
    min-width: 37px;
    text-align: center;
    &.el-tooltip__popper {
        &.is-light {
            border-color: #d8d8d8;
        }
    }
}

.el-tooltip__popper .popper__arrow{
    border-top-color: #d8d8d8 !important;
}




.cup-collapse-pc {
    border-top: 0 !important;
    border-bottom: 0 !important;
  
    .el-collapse-item__header {
      border-bottom: none;
      height: 54px;
      line-height: 54px;
    }
    .el-collapse-item__arrow {
      transform: rotate(90deg);
      color: #999;
      &.is-active {
        transform: rotate(-90deg);
        color: #333;
        font-weight: bold;
      }
    }
    .el-collapse-item__wrap {
      border-bottom: 0;
      background: none;
    }
    .el-collapse-item__content {
      // padding: 10px;
      padding-bottom: 0;
    }
  }

.cup-input {
    width: 100%;
    .el-input__inner {
      -webkit-appearance: none;
      background-image: none;
      border-radius: 0;
      font-size: 14px  ;
      border: 1px solid #d8d8d8;
      height: 44px;
      line-height: 44px;
      outline: none;
      padding: 0 12px;
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: 100%;
      color: #999;
      &:focus {
        outline: none;
        border-color: #000;
      }
      &::-webkit-input-placeholder {
        color: #999999;
        font-size: 14px;
        font-family: Muli-Regular_Light, Muli;
        font-weight: normal;
        color: #999999;
        line-height: 18px;
      }
    }
    .el-form-item{
      margin-bottom: 0;
      &.is-error{
        margin-bottom: 16px;
      }
    }
    &.el-form {
      font-size: 0;
    }
    .cs-select > .cs-select-input .cs-input_inner{
      &::-webkit-input-placeholder {
        color: #999999;
        font-size: 14px;
        font-family: Muli-Regular_Light, Muli;
        font-weight: normal;
        color: #999999;
        line-height: 18px;
      }

    }
    & > .cs-select-input .cs-input_inner{
      &::-webkit-input-placeholder {
        font-size: 12px;
      }
    }

  }
  // 适配移动端
  .mobile{
    .el-input,.el-input__inner{
      font-size: 12px !important;
    }
    .cup-input > .cs-select-input .cs-input_inner{
      &::-webkit-input-placeholder {
        font-size: 12px;
      }
    }
    .el-input__inner::-webkit-input-placeholder{
      font-size: 12px;
    }
  }
  .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus {
    border-color: #E61717;
}
.el-form-item__error{
    color: #E61717;
    font-size: 12px;
    font-family: Muli-Regular_Light, Muli;
    font-weight: normal;
    color: #E61717;
    line-height: 15px;
}
// tooltips 重置
.el-tooltip__popper.is-light{

 box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
 border: none;
 max-width: 178px;
 padding:12px;
  font-size: 12px;
  font-family: Muli-Bold, Muli;
  font-weight: bold;
  color: #333333;
  line-height: 18px;
  text-align: center;

}
/* Modal mask */
.v-modal {
    opacity: 0.7;
}
