/*  用于修改element组件样式重写 */ 

/* Tooltip */ 
.cupshe-tooltip {
    padding: 6px !important;
    border-radius: 0px !important;
    &.el-tooltip__popper {
        &.is-light {
            border-color: #d8d8d8;
        }
    }
}

.el-tooltip__popper .popper__arrow{
    border-top-color: #d8d8d8 !important;
}

/* Number */ 
.el-input-number {
    width: 150px ;
    .el-input__inner {
        border: none;
        padding-left: 18px;
        padding-right: 18px;
    }
    .el-input-number__increase,
    .el-input-number__decrease {
        border: none;
        background: #fff;
    }
}

/* Button */ 
.cupshe-button,
.el-button.cupshe-button{
    padding: 15px 0;
    display: block;
    width: 100%;
    max-width: 440px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    font-size: $font-size-xs;
    cursor: pointer;
    > span {
        font-family: $muli-bold-font-family;
        letter-spacing: 2px;
    }
    &.is-disabled {
        background: #d8d8d8;
        border: none;
    }
}


/*  Collapse */ 
.el-collapse {
    border: none;
    .el-collapse-item__header {
        padding: 21px 0 21px 21px;
        &.is-active {
            background: #F2F2F2;
        }
        .el-collapse-item__arrow {
            color: #A4A4A5;
            margin-right: $padding-4m;
            transform: rotate(90deg);
            &.is-active {
                transform: rotate(-90deg);
                color: $primary;
            }
        }
    }
    .el-collapse-item__content {
        padding: $padding-4m $padding-6m $padding-6m $padding-8m;
    }
}

/* Breadcrumb */
.el-breadcrumb {
    padding: 10px 16px;
    font-size: $font-size-xs;
    .el-breadcrumb__item {
        color: #999 !important;
        &.is-link {
            font-family: 'Muli Regular Light';
            color: $primary !important;
        }
    }
}

/* Modal mask */
.v-modal {
    opacity: 0.7;
}
