// 统一变量定义
// Color Palette
$primary: #333;
$white: #fff;
$disable: #999;
$gray-1: #fafafa;
$red: #e4393c;
$black: #000;

// Padding
$padding-base: 4px;
$padding-2m: $padding-base * 2;
$padding-3m: $padding-base * 3;
$padding-4m: $padding-base * 4;
$padding-5m: $padding-base * 5;
$padding-6m: $padding-base * 6;
$padding-8m: $padding-base * 8;

// Font
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

$fontMuliBold: 'Muli-Bold', Muli;
$fontRegular: 'Muli-Regular_Light', Muli;
$fontSemiBold: 'Muli-Regular_SemiBold', Muli;
$fontExtraBold: 'Muli-Regular_ExtraBold', Muli;

