// 统一变量定义
// Color Palette
$black = #000;
$white = #fff;
$gray-1 = #f7f8fa;
$red = #e4393c;

// Padding
padding-base = 4px;
padding-xs = padding-base * 2;
padding-sm = padding-base * 3;
padding-md = padding-base * 4;
padding-lg = padding-base * 6;
padding-xl = padding-base * 8;